# Blok akses ke direktori sensitif
RedirectMatch 403 ^/(js|admin|assets|cgi-bin|cgi-sys|help|images|lib|mailman|pipermail|vendor|post|webmail|controlpanel|cpanel|kpanel)/

# Blok akses ke file konfigurasi penting
<FilesMatch "(\.htpasswds|\.user\.ini|\.env|wp-config\.php|php\.ini|config\.php|error_log|composer\.json|composer\.lock|\.gitignore|package\.json|wp-config\.php\..*|autoload_.*\.php|installed\.json|LICENSE)$">
    Require all denied
</FilesMatch>

# Izinkan akses ke login
<FilesMatch "(login\.php|index\.php/login/?)$">
    Require all granted
</FilesMatch>

# Tambahan: Mencegah browsing isi folder
Options -Indexes